extends ./outer

block content
 p sync status
 p
  a(href="/setting/dosyncall/") Start sync all notes.
 dl
  dt Message
  dd #{message}
  dt USN
  dd #{USN}
  dt Duration
  dd #{duration}
  dt Last sync All
  dd #{lastSyncAll}
  dt Last sync
  dd #{lastSync}
  dt Notes
  dd
   ul
    each val in notes
     li #{val.body}(#{val.key})
  dt Error
  dd
   ul
    each val in errors
     li #{val.body}(#{val.key})
