extends ./outer

block content
 .content
  each post in posts.posts
   a(href="/post/#{post.url}")
    h2=post.title
   article!=post.contentHTML
   aside created: #{post.created.getFullYear()}-#{post.created.getMonth()+1}-#{post.created.getDay()+1}
  if posts.startIndex > 0
   a(href="#") Previous
  if posts.startIndex+posts.posts.length < posts.totalNotes
   a(href="#") Next